name: 'Validate Build'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          npm install
          npm run build
      - name: Transpile dist
        run: |
          npm run transpile-dist

      - name: Verify ES2019 compatibility
        run: |
          npm run verify:es2019
